In [1]:
age = 42
first_name = "Chris"
print(first_name, "is", age, "years old")

Chris is 42 years old

In [2]:
last_name = "Chris"
print(last_name)

Chris

In [3]:
print(my_values)

NameError: name 'my_values' is not defined

In [ ]:
my_values = 1

In [ ]:
age = age + 3

In [ ]:
print("Age in three years is", age)

In [ ]:
atom_name = "helium"
print(atom_name[0])

In [ ]:
atom_name = "sodium"
print(atom_name[0:3])

In [ ]:
print(len("helium"))

In [ ]:
flabadab = 42
ewr_422yY = "Ahmed"
print(ewr_422yY, "is", flabadab, "years old")

In [ ]:
x = 1.8
y = 3.0
swap = x
x = y
y = swap
print(y)

In [ ]:
initial ="left"
position = initial
initial = "right"
print(initial)

In [ ]:
# as a string
a = "123"
print(a[0:2])

In [ ]:
# as a integer converted to a string with str
a = 123
b = str(a)
print(b[1])

In [ ]:
atom_name ="carbon"
print("atom_name[1:3] is:" , atom_name[1:3])

In [ ]:
thing = "123456"
print(thing[2:15])

In [ ]:
# the type function

print(type(52))

In [ ]:
fitness = "average"
print(type(fitness))

In [ ]:
full_name = "Ahmed" + " " + "Walsh"
print(full_name)

In [ ]:
many_times = "=" * 10
print(many_times)

In [ ]:
print(len(full_name))

In [ ]:
print(len(678))

In [ ]:
# to find out what functions belong to a type .. use dir
print(dir(int))

In [ ]:
# converting numbers to strings

print(1 + int("2"))

In [ ]:
# converting string to int
print(str(1) + "2")

In [ ]:
string_thing = "123456789"
number = int(string_thing)
print(type(number))
print(number)

In [ ]:
string_float = "1234.678"
new_thing = float(string_float)
print(new_thing)

In [ ]:
half =  1/2.0
print("Half of 1 is",half)
print(type(half))

In [ ]:
three_squared = 3 ** 2
print(three_squared)
print(type(three_squared))

In [ ]:
print(type(3.4))

In [ ]:
# division types
# // is integer (whole number division) "floor division"
# / is floating-point division
# % is modulo - the fractional "remainder" (what is left over after whole division)

print("5//3 : is ", 5//3)
print("5/3 : is ", 5/3)
print("5%3 : is ", 5%3)

In [ ]:
number_of_people_in_a_study = 600
number_of_people_per_servey = 42

number_of_serveys_required = number_of_people_in_a_study / number_of_people_per_servey
if  is_float(number_of_serveys_required)
    number_of_serveys_required = number_of_serveys_required + 1
print(number_of_serveys_required)

In [ ]:
# strings to numbers

converted_to_float = float("123.456")
print (converted_to_float)
print(type(converted_to_float))

In [ ]:
# int trunkates the value to whole numbers (it does not round up or down)

print("fractional string to int", int(123.456))

In [ ]:
# two conversions must be explict
# int("123.456") wont work 
# as you are asking it to convert a string to a float, and then to a integer.
# so must be two explicit conversions !!! convert to float, then convert to int.

int(float("123.456"))

In [ ]:
first = 1.0
second = "1"
third = "1.1"

first + float(second)

In [ ]:
float(second) + float(third)

In [ ]:
first + int(third) # two things problem, not explicit

In [ ]:
first + int(float(third))

In [ ]:
int(first) + int(float(third)) # two thing problem again

In [ ]:
int(float(third)) # this works because the string looks like a float

In [ ]:
int(third) # this doesn't work, the value if converted looks like a float , not an int.

In [ ]:
# complex numbers (with a "j" instead of an "i")

complex = 6 + 2j
print(complex.real)
print(complex.imag)

In [ ]:
# function may take zero or more arguements

print("before")
print()   # just prints a blank line
print("after")

In [ ]:
# Rule: Every function call returns something.
# even when it looks like nothing happened, it is actually returned "None"

result = print("example")
print(result)

In [ ]:
# built-in functions max, min, round

print(max(1,2,3,4,5,6,7,8,9))
print()
print(min("a","A","0"))

In [ ]:
print(round(123.4))
print(round(123.5))

In [ ]:
# specify the number of decimal places. here rounding to the second decimal place
print(round(123.456,2))

In [ ]:
# functions attached to obhects are called methods
my_string = "Hello world"
print(len(my_string))

In [ ]:
upper_thing= (my_string.swapcase()) # .swapcase method
print(upper_thing)

In [ ]:
print(my_string.__len__())     # using an internal dunder method

In [ ]:
print(my_string.isupper())     # False because of the lower h in  hELLO WORLD

In [ ]:
print(my_string.upper())

In [ ]:
print(my_string.upper().isupper())  # is True because .upper made it all uppercase
                                    # before the .issupper() was run

In [ ]:
#Getting built-in help 

help(round)

In [ ]:
round?

In [ ]:
name = "feng

In [ ]:
# same as PEMDAS in math 
radiance = 1.0
radiance = max(2.1, 2.0 + min(radiance, 1.1 * radiance - 0.5))
print(radiance)

In [ ]:
# spot the difference

easy_string = "abc"
print(max(easy_string))
rich = "gold"
poor = "tin"
print(max(rich,poor))
print(max(len(rich), len(poor)))

In [ ]:
print(min("tin","gold"))

In [ ]:
print(min())

In [ ]:
print(max())

In [ ]:
# the last character in a string
string_evaluate = "name"
print(string_evaluate[-1:])